<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="Author" content="Cédric Sebogo" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Lincey App</title>

    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="skeleton.css">
    <link rel="stylesheet" type="text/css" href="app.css">
    <link rel="stylesheet" type="text/css" href="boostrap.css">

    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora|PT+Sans" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.6/firebase.js"></script>
    <script src="app.js" type="text/javascript"></script>
    <script src="boostrap.js" type="text/javascript"></script>
      <script src="https://unpkg.com/vue/dist/vue.js"></script>
  </head>
  <body>


       <!-- Navigation bar -->
       <div id="carApp">
    <div class="navbar navbar-default navbar-fixed-top navbar-style">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <a href="index.html">
                        <img class="navbar-logo" src="http://getdrawings.com/image/car-logo-drawing-52.png" />
                    </a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-pages">
                    <a href="index.html"><button type="button">Home</button></a>
                    <a href="create.html"><button type="button">Create</button></a>
                    <a href="view.html"><button type="button">View</button></a>
				</ul>
<ul class="nav navbar-nav navbar-right">
		
             <a href="sign_in.html"><button type="button">Sign In</button></a>
            <a href="sign_in.html"><button type="button">Sign In</button></a>
	</ul>
</div>
        </div>
    </div>


    <section class="container u-full-width">

      <form v-on:submit='addCar'>
        <fieldset class="u-full-width">
          <legend class="legend">Add New Car</legend>
          <div class="row">
            <div class="two columns">
              <label for="year" class="data">Year:</label>
              <input type="number"  class="year u-full-width"  v-model='cars.date' placeholder="Year" required="required" />
            </div>
            <div class="two columns">
              <label for="make" class="data">Make:</label>
              <input type="text"  class="make u-full-width"  v-model='cars.make' placeholder="Make" required="required" />
            </div>
            <div class="two columns">
              <label for="model" class="data">Model:</label>
              <input type="text"  class="model u-full-width"  v-model='cars.model' placeholder="Model" required="required" />
            </div>
            <div class="two columns">
              <label for="cost" class="data">Cost:</label>
              <input type="number"  class="cost u-full-width"  v-model='cars.cost' placeholder="Cost" required="required" />
            </div>
            <div class="two columns">
              <label for="reparation" class="data">Reparation to do:</label>
              <input type="text"  class="cost u-full-width"  v-model='cars.reparation' placeholder="Reparation" required="required" />
            </div>
            <div class="two columns">

              <button type="submit" value='Add' class="u-full-width">Add Car</button>
            </div>
          </div>

        </fieldset>
      </form>
    </section>


    <section class="container u-full-width">
      <div class="row">
        <table class="twelve columns">
          <thead>

              <th>Year</th>
              <th>Make</th>
              <th>Model</th>
              <th>Cost</th>
              <th>Réparation</th>

          </thead>

          <tbody>
            <tr v-for='car in cars'>
              <td><car-date v-bind:car="car"> </car-date></td>
              <td><car-make v-bind:car="car"> </car-make> </td>
              <td><car-model v-bind:car="car"> </car-model></td>
              <td><car-cost v-bind:car="car"> </car-cost> </td>
              <td><car-reparation v-bind:car="car"> </car-reparation> </td>

              <td><button class="btn btn-danger btn-block" v-on:click="deleteCar(car)">Delete</button></td>

            </tr>
          </tbody>
        </table>
        <p> Click on the data to edit and then press enter to save<p>
      </div>
    </section>




    <section class="container u-full-width">
      <form class="garage-owner-info">
        <fieldset class="u-full-width">
          <legend class="legend">Garage Owner Info</legend>
          <div class="row">
            <div class="three columns">
              <label for="first-name" class="data">First Name:</label>
              <input type="text" id="first-name" class="first-name u-full-width" placeholder="First Name" required="required" />
            </div>
            <div class="three columns">
              <label for="last-name" class="data">Last Name:</label>
              <input type="text" id="last-name" class="last-name u-full-width" placeholder="Last Name" required="required" />
            </div>
            <div class="three columns">
              <label for="email" class="data">Email:</label>
              <input type="email" id="email" class="email u-full-width" placeholder="Email" required="required" />
            </div>
            <div class="three columns">
              <label for="password" class="data">Password:</label>
              <input type="password" id="user-pw" class="user-pw u-full-width" placeholder="Password" required="required" />
            </div>
          </div>
          <div class="row">
            <button type="button" class="three columns" id="user-button">Create Garage</button>
            <button type="button" class="three columns" id="retrieve-button">Retrieve Garage</button>
            <div id ="retrieve" class="three columns">
              <p>Once you've created your garage you can retrieve and edit it by entering your first name, last name and your password.</p>
            </div>
          </div>

        </fieldset>
      </form>
    </section>
  </div>

    <script>

var CarDate = Vue.extend({
  data: function(){
    return{
      inEditMode: false
    }
  },
  props: ['car'],
  template:'<div> <span v-on:click="clicked" v-show="!inEditMode"> {{ car.date }} </span> <input v-on:keyup.enter="saved" v-model="car.date" v-show="inEditMode"/> </div>',
  methods:{
    clicked: function(){
      this.inEditMode = true;
    },
    saved: function(){
      this.inEditMode = false;
    }
  }
});
Vue.component('car-date', CarDate);

var Carmake = Vue.extend({
  data: function(){
    return{
      inEditMode: false
    }
  },
  props: ['car'],
  template:'<div> <span v-on:click="clicked" v-show="!inEditMode"> {{ car.make }} </span> <input v-on:keyup.enter="saved" v-model="car.make" v-show="inEditMode"/> </div>',
  methods:{
    clicked: function(){
      this.inEditMode = true;
    },
    saved: function(){
      this.inEditMode = false;
    }
  }
});

Vue.component('car-make', Carmake);



var Carmodel = Vue.extend({
  data: function(){
    return{
      inEditMode: false
    }
  },
  props: ['car'],
  template:'<div> <span v-on:click="clicked" v-show="!inEditMode"> {{ car.model }} </span> <input v-on:keyup.enter="saved" v-model="car.model" v-show="inEditMode"/> </div>',
  methods:{
    clicked: function(){
      this.inEditMode = true;
    },
    saved: function(){
      this.inEditMode = false;
    }
  }
});

Vue.component('car-model', Carmodel);

var Carcost = Vue.extend({
  data: function(){
    return{
      inEditMode: false
    }
  },
  props: ['car'],
  template:'<div> <span v-on:click="clicked" v-show="!inEditMode"> {{ car.cost }} </span> <input v-on:keyup.enter="saved" v-model="car.cost" v-show="inEditMode"/> </div>',
  methods:{
    clicked: function(){
      this.inEditMode = true;
    },
    saved: function(){
      this.inEditMode = false;
    }
  }
});

Vue.component('car-cost', Carcost);



var Carreparation = Vue.extend({
  data: function(){
    return{
      inEditMode: false
    }
  },
  props: ['car'],
  template:'<div> <span v-on:click="clicked" v-show="!inEditMode"> {{ car.reparation }} </span> <input v-on:keyup.enter="saved" v-model="car.reparation" v-show="inEditMode"/> </div>',
  methods:{
    clicked: function(){
      this.inEditMode = true;
    },
    saved: function(){
      this.inEditMode = false;
    }
  }
});

Vue.component('car-reparation', Carreparation);

    var carApp = new Vue({
      el: '#carApp',

      data: {
        function(){
          return{
            inEditMode:false
          }
        },
        cars: []

      },
      methods: {
        addCar: function(e) {
          e.preventDefault();
          this.cars.push({
            color: this.cars.color,
            date: this.cars.date,
            make: this.cars.make,
            model: this.cars.model,
            cost: this.cars.cost,
            reparation: this.cars.reparation,
            done: false
          });

        },


        deleteCar: function(car) {
          this.cars.splice(this.cars.indexOf(car), 1)
        }
      }
    });
    </script>
  </body>
</html>
